<form action="/signin" method="POST">
  <label>Name:</label><br>
  <input type="text" name="name"><br>
  <label>Password:</label><br>
  <input type="password" name="password">
  <input type="submit">
</form>