<form action="/tasks" method="POST">
  <label>Description:</label><br>
  <input type="text" name="task[description]"><br>
  <input type="hidden" name="task[parent_id]" value="<%= parent_id ||= "" %>"><br>
  <input type="submit">
</form>