<div class="task">
  Description: <%= task.description %>, Status: <%= task.status %>, <a href="<%= task_url(task) + '/edit' %>">Edit</a>
  <ul>
    <% task.children.each do |child| %>
      <li><%= erb :'task/show', locals: {task: child} %></li>
    <% end %>
  </ul>
</div>
