<h1>Create a new project</h1>

<form method="POST" action="/projects">
  <label>Description</label>
  <br>
  <input type="text" name="description" placeholder="Synnergize the tensegrity"><br>
  <input type="submit">
</form>