<h1><%= @project.description %></h1>

<h2>Tasks:</h2>
<ol>
<% @project.tasks.each do |task| %>
  <li><%= erb :'task/show', locals: {task: task} %></li>
<% end %>
</ol>

<h2>Add a new task:</h2>
<%= erb :'task/_new_form' %>